@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    display: flex;
    justify-content: center;
background-image: url("Background/background.jpg");
background-repeat: no-repeat;
background-size: 60%;
background-position: 0 170px;
background-color: #4B2D92;
}
#barrac{
width: 1000px;
height: 50px;
position: fixed;
background-color: rgba(255, 255, 255, 10%);
border-radius: 50px;
backdrop-filter: blur(22px);
-webkit-backdrop-filter: blur(20px);
align-items: center;
}
#logo{
width: 150px;
height: 150px;
background-image: url("logo.png");

background-position: center;
background-repeat: no-repeat;
background-size: 80%;
position: fixed;
top: -50px;
z-index: 2;
filter: brightness(100);

}
#textus{
font-family: 'Poppins', sans-serif;
display: grid;
grid-template-columns: repeat(6, 1fr);
text-decoration: none;
list-style: none;
font-size: 100%;
position: fixed;
bottom: -04px;
right: 140px;
gap: 37px;
color: white;
font-weight: 400;
}
#logar{
    font-family: 'Poppins', sans-serif;
width: 100px;
height: 40px;
border-radius: 50px;
border: none;
position: fixed;
right: 7px;
bottom: 5px;
color: white;
background-color: #4b2d92;
font-size: 100%;
font-weight: 600;
cursor: pointer;
}
#nov{
    position: fixed;
    right: 290px;
}
#jopvd{
position: fixed;
right: 190px;

}
